/* Banner Styles */
* {
    margin: 0;
    padding: 0;
}
/* 1st Banner Styles */
.banner {
    position: relative;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.banner-text {
    color: #151414;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}

.banner-description {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 5px;
    line-height: 24px;
}

.bnr-all-txt {
    position: absolute;
    padding: px;
    margin-left: 800px;
    top: 30%;
    text-align: right;

}

.btn-primary {
    background-color: #fd6e0a;
    border-radius: 4px;
    height: 64px;
    width: 160px;
    color: white;
}

li {
    color: #151414;
    font-family: 'Work Sans';
    list-style: none;
    padding-top: 6px;
}

li::before {
    content: "\2713";
    color: darkturquoise;
}

.all-text {
    position: absolute;
    width: 416px;
    height: 400px;
    left: 862px;
    top: 1178px;
}

.middle img {
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}

.text-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding-bottom: 5px;
}

.plan-text {
    font-weight: 700;
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 80px;
    text-align: center;
}

.plan-div {
    display: flex;
    gap: 144px;
}

.my-plan {
    position: absolute;
    width: 1141px;
    height: 299.96px;
    left: 430px;
    top: 1792.3px;

}

.web {
    padding: 2px;
    padding-bottom: 3px;
}

.gd-container {
    background: linear-gradient(135deg, #fd6e0a, #3f3f3f);
    background-image: url('../images/watch.png') no-repeat;
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2222.26px;
    display: grid;
    place-items: center;
    place-content: center;
}

.btn-call {
    background-color: white;
    border-radius: 4px;
    height: 64px;
    width: 160px;
    color: #fd6e0a;
}

.keep {
    padding-bottom: 30px;
}

footer {
    position: absolute;
    width: 1600px;
    height: 577px;
    left: 0px;
    top: 2652.26px;
    background: #151414;
}

.footar {
    display: flex;
    gap: 450px;
    margin-left: 20px;
}

.btn-subscribe {
    background-color: white;
    border-radius: 2px;
    height: 34px;
    width: 69px;
    color: #fd6e0a;
    text-align: center;
}

.left-footer {
    color: white;
    padding-left: 10%;
    padding-top: 40px;
}